// colors
$primary: #A65CF0;
$primary_light: #C998FB;
$primary_shade: #7033AC;
$pink_light: #F8EFFF;
$pink_violet: #EBD1FF;
$secondary: #FF862F;
$secondary_light: #FFBD59;
$secondary_shade: #BB370E;
$red_input: #FF6972;
$green_input: #B8EC64;
$gold: #D5B986;
$white: #FFFFFF;
$grey_light: #F6F6F6;
$md_grey: #EAEAEA;
$grey: #999999;
$grey_shade: #666666;
$black: #333333;
$lime_color: #DAFFD1;
$bone: #FFF5D1;

// lengths
$containerMaxWidth: 1280px;
$contanerMargin1024: 36px;
$contanerMargin768: 72px;
$contanerMargin320: 12px;

// easings
$easing: 0.3s ease-in-out;

